<header>
    <nav>
        <ul>
            <li><a href="/">Shop</a></li>
            <li><a href="/admin/product-page">Add Product</a></li>
            <li><a href="/user">User</a></li>
        </ul>
    </nav>
</header>