<%- include('includes/head.ejs') %>
</head>

<body>
    <%-include('includes/navigation.ejs')%>

    <main>
        <div>
            <h1>My Products</h1>
            <% if(products.length > 0 ){%>
            <p>List of all the products...</p>
            
            <% products.forEach(product =>{%>
                <p>products: <%= product.title %></p>
            <% })} else{ %>
                <p>No products...</p>
            <% } %>
        </div>

        <div>
            <h1>My Users</h1>
            <% if(users.length > 0 ){%>
            <p>List of users</p>
            
            <% users.forEach(user =>{%>
                <p>user: <%= user.name %></p>
                <% })} else{ %>
                    <p>No users...</p>
                <% } %>
        </div>
        
    </main>
</body>

</html>