<%-include('includes/head.ejs')%>
</head>

<body>
    
    <%-include('includes/navigation.ejs')%>
    <main>
        <form action="/user/add-user" method="POST">
            <input type="text" name="userName">
            <button type="submit">Add User Name</button>
        </form>
    </main>
</body>

</html>